{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">

    <!-- Admin Sidebar -->
    {% if request.user.user_type == '1' %}
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/logo1.png' %}" alt="TeamOps LOGO" class="brand-image">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>
    {% endif %}

    {% if request.user.user_type == '2' %}
    <a href="#" class="brand-link">
        <img src="{% static 'dist/img/virusx.png' %}" alt="HR Panel" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">HR Panel</span>
    </a>
    {% endif %}

    {% if request.user.user_type == '3' %}
    <a href="#" class="brand-link">
        <img src="{% static 'dist/img/virusx.png' %}" alt="Employee Panel" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">Employee Panel</span>
    </a>
    {% endif %}

    <!-- Sidebar -->
    <div class="sidebar" style="background-image: linear-gradient(to right top, #0b3574, #033f91, #004aae, #0054cc, #125eeb);">

        <!-- User Info -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                {% if request.user.user_type == '1' %}
                <!-- Admin Menu -->
                <li class="nav-item"><a href="{% url 'admin_view_profile' %}" class="nav-link {% if request.path == admin_view_profile %}active{% endif %}"><i class="nav-icon fas fa-address-card"></i><p>Update Profile</p></a></li>
                <li class="nav-item"><a href="{% url 'add_designation' %}" class="nav-link {% if request.path == add_designation %}active{% endif %}"><i class="nav-icon fas fa-book"></i><p>Add Designation</p></a></li>
                <li class="nav-item"><a href="{% url 'manage_designation' %}" class="nav-link {% if request.path == manage_designation %}active{% endif %}"><i class="nav-icon fas fa-cogs"></i><p>Manage Designation</p></a></li>
                <li class="nav-item"><a href="{% url 'add_project' %}" class="nav-link {% if request.path == add_project %}active{% endif %}"><i class="nav-icon fas fa-layer-group"></i><p>Add Project</p></a></li>
                <li class="nav-item"><a href="{% url 'manage_project' %}" class="nav-link {% if request.path == manage_project %}active{% endif %}"><i class="nav-icon fas fa-stream"></i><p>Manage Project</p></a></li>
                <li class="nav-item"><a href="{% url 'add_session' %}" class="nav-link {% if request.path == add_session %}active{% endif %}"><i class="nav-icon fas fa-clock"></i><p>Add Session</p></a></li>
                <li class="nav-item"><a href="{% url 'manage_session' %}" class="nav-link {% if request.path == manage_session %}active{% endif %}"><i class="nav-icon fas fa-history"></i><p>Manage Session</p></a></li>
                <li class="nav-item"><a href="{% url 'add_hr' %}" class="nav-link {% if request.path == add_hr %}active{% endif %}"><i class="nav-icon fas fa-user-plus"></i><p>Add HR</p></a></li>
                <li class="nav-item"><a href="{% url 'manage_hr' %}" class="nav-link {% if request.path == manage_hr %}active{% endif %}"><i class="nav-icon fas fa-users-cog"></i><p>Manage HR</p></a></li>
                <li class="nav-item"><a href="{% url 'add_employee' %}" class="nav-link {% if request.path == add_employee %}active{% endif %}"><i class="nav-icon fas fa-user-plus"></i><p>Add Employee</p></a></li>
                <li class="nav-item"><a href="{% url 'manage_employee' %}" class="nav-link {% if request.path == manage_employee %}active{% endif %}"><i class="nav-icon fas fa-users"></i><p>Manage Employee</p></a></li>
                <li class="nav-item"><a href="{% url 'admin_notify_hr' %}" class="nav-link {% if request.path == admin_notify_hr %}active{% endif %}"><i class="nav-icon fas fa-bullhorn"></i><p>Notify HR</p></a></li>
                <li class="nav-item"><a href="{% url 'admin_notify_employee' %}" class="nav-link {% if request.path == admin_notify_employee %}active{% endif %}"><i class="nav-icon fas fa-bullhorn"></i><p>Notify Employee</p></a></li>
                <li class="nav-item"><a href="{% url 'admin_view_attendance' %}" class="nav-link {% if request.path == admin_view_attendance %}active{% endif %}"><i class="nav-icon fas fa-calendar-check"></i><p>View Attendance</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_feedback_message' %}" class="nav-link {% if request.path == employee_feedback_message %}active{% endif %}"><i class="nav-icon fas fa-comments"></i><p>Employee Feedback</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_feedback_message' %}" class="nav-link {% if request.path == hr_feedback_message %}active{% endif %}"><i class="nav-icon fas fa-comments"></i><p>HR Feedback</p></a></li>
                <li class="nav-item"><a href="{% url 'view_hr_leave' %}" class="nav-link {% if request.path == view_hr_leave %}active{% endif %}"><i class="nav-icon fas fa-plane-departure"></i><p>HR Leave</p></a></li>
                <li class="nav-item"><a href="{% url 'view_employee_leave' %}" class="nav-link {% if request.path == view_employee_leave %}active{% endif %}"><i class="nav-icon fas fa-plane-departure"></i><p>Employee Leave</p></a></li>
                {% endif %}

                {% if request.user.user_type == '2' %}
                <!-- HR Menu -->
                <li class="nav-item"><a href="{% url 'hr_home' %}" class="nav-link {% if request.path == hr_home %}active{% endif %}"><i class="nav-icon fas fa-home"></i><p>Home</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_view_profile' %}" class="nav-link {% if request.path == hr_view_profile %}active{% endif %}"><i class="nav-icon fas fa-address-card"></i><p>Update Profile</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_add_result' %}" class="nav-link {% if request.path == hr_add_result %}active{% endif %}"><i class="nav-icon fas fa-poll"></i><p>Add Result</p></a></li>
                <li class="nav-item"><a href="{% url 'edit_employee_result' %}" class="nav-link {% if request.path == edit_employee_result %}active{% endif %}"><i class="nav-icon fas fa-th"></i><p>Edit Result</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_take_attendance' %}" class="nav-link {% if request.path == hr_take_attendance %}active{% endif %}"><i class="nav-icon fas fa-calendar-alt"></i><p>Take Attendance</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_update_attendance' %}" class="nav-link {% if request.path == hr_update_attendance %}active{% endif %}"><i class="nav-icon fas fa-th"></i><p>View/Update Attendance</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_view_notification' %}" class="nav-link {% if request.path == hr_view_notification %}active{% endif %}"><i class="nav-icon fas fa-bell"></i><p>View Notifications</p></a></li>
                <li class="nav-item"><a href="{% url 'add_book' %}" class="nav-link {% if request.path == add_book %}active{% endif %}"><i class="nav-icon fas fa-comment-alt"></i><p>Add Books To Lib</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_apply_leave' %}" class="nav-link {% if request.path == hr_apply_leave %}active{% endif %}"><i class="nav-icon fas fa-check"></i><p>Apply For Leave</p></a></li>
                <li class="nav-item"><a href="{% url 'hr_feedback' %}" class="nav-link {% if request.path == hr_feedback %}active{% endif %}"><i class="nav-icon fas fa-comment-alt"></i><p>Feedback</p></a></li>
                {% endif %}

                {% if request.user.user_type == '3' %}
                <!-- Employee Menu -->
                <li class="nav-item"><a href="{% url 'employee_home' %}" class="nav-link {% if request.path == employee_home %}active{% endif %}"><i class="nav-icon fas fa-home"></i><p>Home</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_view_profile' %}" class="nav-link {% if request.path == employee_view_profile %}active{% endif %}"><i class="nav-icon fas fa-address-card"></i><p>Update Profile</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_view_attendance' %}" class="nav-link {% if request.path == employee_view_attendance %}active{% endif %}"><i class="nav-icon fas fa-calendar-alt"></i><p>View Attendance</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_view_notification' %}" class="nav-link {% if request.path == employee_view_notification %}active{% endif %}"><i class="nav-icon fas fa-bell"></i><p>View Notifications</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_apply_leave' %}" class="nav-link {% if request.path == employee_apply_leave %}active{% endif %}"><i class="nav-icon fas fa-check"></i><p>Apply For Leave</p></a></li>
                <li class="nav-item"><a href="{% url 'employee_feedback' %}" class="nav-link {% if request.path == employee_feedback %}active{% endif %}"><i class="nav-icon fas fa-comment-alt"></i><p>Feedback</p></a></li>
                <li class="nav-item"><a href="{% url 'view_books' %}" class="nav-link {% if request.path == view_books %}active{% endif %}"><i class="nav-icon fas fa-atlas"></i><p>Available Books in LIB</p></a></li>
                {% endif %}

                <!-- Common Logout -->
                <li class="nav-item">
                    <a href="{% url 'user_logout' %}" onclick="return confirm('Your session would be terminated.\\n\\nProceed?')" class="nav-link">
                        <i style="color: #ff0000" class="nav-icon fas fa-power-off"></i>
                        <p>Logout</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
