{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Store{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Available Assets </h3>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                <div class="card-body">
                <div class="form-group" style="color: green;">
                    <label>Available assets which you can issue from office store !</label>
                </div>
            <div class="form-group table">
              <table class="table table-bordered">
                  <tr>
                    <th>Sr.No</th>
                    <th>Asset Name</th>
                    <th>Brand</th>
                    <th>ISBN Number</th>
                    <th>Category</th>
                  </tr>
                  {% for asset in assets %}
                  <tr>
                      <td>{{forloop.counter}}.</td>
                      <td>{{asset.name}}</td>
                      <td>{{asset.brand}}</td>
                      <td>{{asset.isbn}}</td>
                      <td>{{asset.category}}</td>
                  </tr>
                  {% endfor %}
              </table>
                        </div>
                   
                    </div>
                    <!-- /.card-body -->

                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}

