{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Course</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{member.last_name}}, {{member.first_name}}</td>
                                    <td>{{member.email}}</td>
                                    <td>{{member.gender}}</td>
                                    <td>{{member.member.course.name}}</td>
                                    <td>
                                        {% if member.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{member.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        {% if member.member %}
                                            <a href="{% url 'edit_member' member.member.id %}" class="btn btn-info">Edit</a> -
                                            <a href="{% url 'delete_member' member.member.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                        {% comment %} {% else %}
                                            <span class="text-muted">User missing</span> {% endcomment %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}